# Exploring the data 
    duplicate data doesnt exist 
    missing values do exist, need to be dealt with according to their data type

In [6]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# --- 2. Load Data ---
train_df = pd.read_csv("C:/Users/livmo/OneDrive - Trinity College Dublin/LoanPrediction/LoanPrediction/data/train.csv")
test_df = pd.read_csv("C:/Users/livmo/OneDrive - Trinity College Dublin/LoanPrediction/LoanPrediction/data/test.csv")

# --- 3. Initial Inspection ---
train_df.head()
train_df.info()
print(train_df.describe())
print(train_df.isna().sum())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 614 entries, 0 to 613
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Loan_ID            614 non-null    object
 1   Gender             601 non-null    object
 2   Married            611 non-null    object
 3   Dependents         599 non-null    object
 4   Education          614 non-null    object
 5   Self_Employed      582 non-null    object
 6   ApplicantIncome    614 non-null    int64
 7   CoapplicantIncome  614 non-null    float64
 8   LoanAmount         592 non-null    float64
 9   Loan_Amount_Term   600 non-null    float64
 10  Credit_History     564 non-null    float64
 11  Property_Area      614 non-null    object
 12  Loan_Status        614 non-null    object
dtypes: float64(4), int64(1), object(8)
memory usage: 62.5+ KB
       ApplicantIncome  CoapplicantIncome  LoanAmount  Loan_Amount_Term  \
count       614.000000         614.000000  592.000000         600.00000
mean       5403.459283        1621.245798  146.412162         342.00000
std        6109.041673        2926.248369   85.587325          65.12041
min         150.000000           0.000000    9.000000          12.00000
25%        2877.500000           0.000000  100.000000         360.00000
50%        3812.500000        1188.500000  128.000000         360.00000
75%        5795.000000        2297.250000  168.000000         360.00000
max       81000.000000       41667.000000  700.000000         480.00000

       Credit_History
count      564.000000
mean         0.842199
std          0.364878
min          0.000000
25%          1.000000
50%          1.000000
75%          1.000000
max          1.000000
Loan_ID               0
Gender               13
Married               3
Dependents           15
Education             0
Self_Employed        32
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           22
Loan_Amount_Term     14
Credit_History       50
Property_Area         0
Loan_Status           0
dtype: int64

# Handling missing values

In [14]:
import pandas as pd

def fill_missing_values(df):

    # Categorical    
    for col in ["Gender", "Married", "Self_Employed"]:
        df[col] = df[col].fillna(df[col].mode()[0], inplace=True)


    # Numerical 
    for col in ["LoanAmount", "Loan_Amount_Term"]:
        df[col] = df[col].fillna(df[col].median(), inplace=True)

    # Credit History - Boolean [Take mode of all booleans]
    df['Credit_History'].fillna(df['Credit_History'].mode()[0], inplace=True)

    return df

train_df = pd.read_csv("C:/Users/livmo/OneDrive - Trinity College Dublin/LoanPrediction/LoanPrediction/data/train.csv")
train_df = fill_missing_values(train_df)

train_df.head()
train_df.info()
print(train_df.describe())
print(train_df.isna().sum())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 614 entries, 0 to 613
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Loan_ID            614 non-null    object
 1   Gender             0 non-null      object
 2   Married            0 non-null      object
 3   Dependents         599 non-null    object
 4   Education          614 non-null    object
 5   Self_Employed      0 non-null      object
 6   ApplicantIncome    614 non-null    int64
 7   CoapplicantIncome  614 non-null    float64
 8   LoanAmount         0 non-null      object
 9   Loan_Amount_Term   0 non-null      object
 10  Credit_History     614 non-null    float64
 11  Property_Area      614 non-null    object
 12  Loan_Status        614 non-null    object
dtypes: float64(2), int64(1), object(10)
memory usage: 62.5+ KB
       ApplicantIncome  CoapplicantIncome  Credit_History
count       614.000000         614.000000      614.000000
mean       5403.459283        1621.245798        0.855049
std        6109.041673        2926.248369        0.352339
min         150.000000           0.000000        0.000000
25%        2877.500000           0.000000        1.000000
50%        3812.500000        1188.500000        1.000000
75%        5795.000000        2297.250000        1.000000
max       81000.000000       41667.000000        1.000000
Loan_ID                0
Gender               614
Married              614
Dependents            15
Education              0
Self_Employed        614
ApplicantIncome        0
CoapplicantIncome      0
LoanAmount           614
Loan_Amount_Term     614
Credit_History         0
Property_Area          0
Loan_Status            0
dtype: int64

C:\Users\livmo\AppData\Local\Temp\ipykernel_27456\2645523997.py:7: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col] = df[col].fillna(df[col].mode()[0], inplace=True)
C:\Users\livmo\AppData\Local\Temp\ipykernel_27456\2645523997.py:12: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col] = df[col].fillna(df[col].median(), inplace=True)
C:\Users\livmo\AppData\Local\Temp\ipykernel_27456\2645523997.py:12: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col] = df[col].fillna(df[col].median(), inplace=True)
C:\Users\livmo\AppData\Local\Temp\ipykernel_27456\2645523997.py:15: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Credit_History'].fillna(df['Credit_History'].mode()[0], inplace=True)